
            <form action="{{url_for('findspeaker')}}" method="POST">  
                <div class="form-group">  
                    <select name="category" id="category" class="form-control form-control-lg" >

                            <option type="checklist" value="" disabled selected>Select Category</option>
                        {% for elem in categories %}
                           
                            <option type="checklist" value="{{elem.category}}">{{elem.category}}</option>
                           
                        {% endfor %}
                    </select> 
                </div> 
                <input type="submit" value="Compile Speaker List" class="btn btn-primary btn-lg">
            </form>