{% extends 'base.html' %} {% block content %}

<div class = "row">
 <div class = "col-12 my-3">
    <h2>Please select Category to amend</h2>
 </div>  
</div>

<div class="row">
        
      <ul class="list-unstyled">
        {% for cat in categories %}
            <li><a href="{{url_for('update_category',category_id=cat._id)}}" class="btn btn-light ml-3">{{cat.category}}</a> </li>
            
        {% endfor %}
            <a  href="{{url_for('index')}}" class="btn btn-info mt-4 ml-4" type="submit">Home  </a>
      </ul>

</div>


{% endblock %}