{% extends 'base.html' %} {% block content %}
<br>
<div class="row">
    <form action="{{url_for('add_speaker')}}" method="POST"  class="col s12">
            <div class="form-group">
                    
                    <select id="category" name="category" class="form-control form-control-lg">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.category}}">{{cat.category}}</option>
                        {% endfor %}
                    </select>
                    <label>Task Category</label>
               
            </div>
            <div class="form-group">
               
                <input id="name" name="name" type="text" class="form-control form-control-lg">
                <label for="name">Speaker Name</label>
            </div>
        
            <div class="form-group">
                <textarea name="bio" id="bio" class="form-control form-control-lg"></textarea>
                <label for="bio">Biography</label>
            </div>

            <div class="form-group">
                <textarea name="banner" id="banner" class="form-control form-control-lg"></textarea>
                <label for="banner">Short Description</label>
            </div>

            <div class="form-group">
                <textarea name="photo" id="photo" class="form-control form-control-lg"></textarea>
                <label for="photo">Photo link</label>
            </div>

        <div class="row">
            <button class="btn btn-primary" type="submit" name="action">Add Task
                <i class="fab fa-facebook-f"></i>
             </button>
        </div>
    </form>
</div>


{% endblock %}