{% extends 'base.html' %} {% block content %}

    <div class="row m-2"> 
        <h2>Speakers specialising in {{category}}</h2>
    </div>

    <div class="row">
        {% for person in speakers %}
        <div class="col-sm-6 col-lg-3 mb-3">
            <div class="card mb-0 h-100">
               
                <img class="card-img-top" src="{{person.photo}}" alt="Card image">
                <div class="card-body">
                    <h6 class="card-title">{{person.name}}</h6>
                    <p class="card-text">{{person.banner}}</p>
                    <a href="{{url_for('speakerbio',speaker_id=person._id)}}" class="btn btn-primary stretched-link">See Biography</a>
                </div>
                
            </div>
        </div>
         {% endfor %}
    </div>

    <div class="row mt-4">
      <div class="col-lg-2 col-med-4 col-sm-12">
        <a  href="{{url_for('index')}}" class="btn btn-info btn-block" type="submit">Home  </a>
      </div>  
    </div>
   
{% endblock %}