{% extends 'base.html' %} {% block content %}
 
{% for item in speaker_info %}


<div class="row">   
    <div class="col">
    <h2>{{item.name}}</h2>
    </div>
</div>

<div class="row">   
    <div class="col">
        <img src="{{item.photo}}" class="float-left mr-3">
        {{item.bio}}
    </div>
    
</div>

<div class="row"> 
    <div class="col-2"></div>
    <div class="col-4">
        <a href="{{url_for('editspeaker',speaker_id=item._id)}}" class="btn btn-primary btn-lg btn-block m-5">Edit Speaker Details</a>
    </div>
    <div class="col-2">
        <a href="{{url_for('deletespeaker',speaker_id=item._id)}}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-lg btn-block m-5">Delete Speaker</a>
    </div>
    <div class="col"></div>    
</div>
{% endfor %}
{% endblock %}