{% extends 'base.html' %} {% block content %}
 
{% for item in speaker_info %}


<div class="row">   
    <div class="col">
    <h2>{{item.name}}</h2>
    </div>
</div>

<div class="row">   
    <div class="col">
        <img src="{{item.photo}}" class="float-left mr-3">
        {{item.bio}}
    </div>
    
</div>
  
<div class="row"> 
    
    <div class="col-sm-6 col-lg-3">
        <a href="{{url_for('editspeaker',speaker_id=item._id)}}" class="btn btn-primary btn-lg btn-block my-5">Edit Speaker Details</a>
    </div>

    <div class="col-sm-6 col-lg-3">
        <a  href="{{url_for('index')}}" class="btn btn-info btn-lg btn-block my-5" type="submit">Home  </a>
    </div>


    <div class="col-sm-6 col-lg-2">
        <button type="button" class="btn btn-danger btn-lg btn-block my-5" data-toggle="modal" data-target="#exampleModal">
        Delete Speaker
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to DELETE this Speaker?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <a href="{{url_for('deletespeaker',speaker_id=item._id)}}" class="btn btn-secondary">Yes</a>
            </div>
            </div>
        </div>
        </div>
    </div>

</div>
{% endfor %}


{% endblock %}